{% extends 'base.html.twig' %}
{# le template index.html.twig hérite de notre gabari de base 'base.html.twig (geader +footer+liens CSS etc...) #}

{# Le bloc 'title' apparait dans l'onglet du navigateur #}
{% block title %}Blog Symfony | Liste des articles{% endblock %}
{# le bloc body fait référence au bloc bod déclaré dans le fichier base.html.twig #}
{% block body %}

    <h1 class="display-4 text-center my4">Liste des articles</h1>

    <div class="row d-flex justify-content-center">
    {# Cette boucle for est une boucle TWIG , la variable newArticle est déclaré ici c'st une variable de recepetion#}
    {# la variable 'articles' provient de la méthode index() du controller 'BlogController', 
    elle contient tout les articles slectionnée en BDD #}

            {% for newArticles in articles %}

                <div class="col-md-3 border border-secondary rounded mr-1 mb-1 text-center">

                    <img src="{{ newArticles.image}}" alt="{{ newArticles.title}}"><hr>

                    <h2>{{ newArticles.title }}</h2>

                    <p>{{ newArticles.content|raw }}</p><hr> 
                    {# raw= filtre pour enlever les balises presentent en BDD <p>#}
                   
                    <p>Posté le {{ newArticles.createdAt|date('d/m/Y')}} à {{ newArticles.createdAt|date('H:i:s')}}</p>

                    <p><a class="btn btn-secondary" href="{{path('blog_show', {'id': newArticles.id})}}" role="button">View details &raquo;</a></p>
                    
                </div>

            {% endfor %}
    
    </div>
{% endblock %}
