{% extends "base.html.twig" %}
{# on hérite du template de base.html.twig #}

{# ci dessous le contenu du block body sera insérer dans le body de base.html.twig #}

{% block body %}

    <h1 class="display-4 text-center my-4">Détails de l'article</h1>

            <div class="col-md-12 border border-secondary rounded mr-1 mb-5 text-center">
                <img src="https://picsum.photos/800/300" alt=""><hr>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content|raw }}</p><hr>
                <p class="text-right">Posté le {{ article.createdAt|date('d/m/Y')}} à {{ article.createdAt|date('H:i:s')}}</p>
                

                
                 
                
            </div>
            <a href="{{ path('blog')}}" class="btn btn-primary">Retour aux article</a>

{% endblock %}
